body {
  font-family: "Special Elite", cursive;
  background: rgb(17, 175, 223);
}

.header_div {
  background: rgb(153, 219, 100);
  color: rgb(241, 98, 98);
}

.header_div p {
  font-family: "Roboto", sans-serif;
  color: rgb(94, 116, 180);
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: bold;
}
.main_div button {
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  width: 130px;
  font-weight: bolder;
  letter-spacing: 3px;
}
.copy_right_footer {
  position: fixed;
  color: #d7e2ec;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  background-color: rgb(192, 143, 224);
  line-height: 3;
  text-align: center;
  text-shadow: 5px 5px 5px rgb(201, 157, 157);
}
